@import "tachyons";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

body {
	overflow-x: hidden;
  font-family: 'Circular', sans-serif;
  color: #0C0C0D;
}

#album, #about-content {
  min-height: 360px;
  height: 60vh;
}

#about {
  background: #fdfdfc;
  overflow-x: hidden;
  transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}

#about.hide {
  opacity: 0;
  pointer-events: none;
}

.auto {
  pointer-events: auto !important;
}
.grid {
  margin: 0 auto;
}

.dark {
  color: #4a4a4a;
}

.muted {
  color: #B2B2B2;
}

.mask {
  background-size: cover;
  background-position: center center;
  z-index: -1;
  transition: all .8s ease-in-out;
}

.mask.hide {
  opacity: 0;
  transition: all .8s ease-in-out;
}

.mask.active {
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 100;
  transition: all .8s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.top5 {
  top: 5px;
}

.absolute-center {
  left: 0;
  right: 0;
}

.top-left {
  top: 0;
  left: 0;
}

.h-150 {
  height: 150px;
}

.mw1280 {
  max-width: 1280px;
}

a {
  text-decoration: none;
  color: #0c0c0d;
}

img {
  vertical-align: bottom;
  pointer-events: none;
}

.flex {
  display: flex;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.aic {
  align-items: center;
}

.jcc {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

#cover, #page-cover {
	min-height: 550px;
}
.photoList {
  height: calc(100vh - 9rem);
  width: calc(100% + 40px);
  overflow-y: scroll;
}

.photoList span {
  pointer-events: none;
}

.photoList img {
  pointer-events: auto;
}

.load {
  opacity: 0;
  transition: all .2s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}
.load.show {
  opacity: 0.75; 
  transition: all .2s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}

.ds {
	overflow-y: hidden;
}
.z1 {
  z-index: 1;
}
.z2 {
  z-index: 2;
}
.z4 {
  z-index: 4;
}
.z10 {
  z-index: 10;
}
.z-1{
  z-index: -1;
}
.cp {
  cursor: pointer;
}
.pn {
  pointer-events: none;
}
.w150 {
  width: 150px;
}
.w6 {
  width: 20rem;
}
.w7 {
  width: 24rem;
}
.dragscroll {
  -webkit-overflow-scrolling: touch;
}

.card figure {
  height: 205px;
}

.button {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: #f3f3f3;
}

.button:hover {
  background-color: rgba(12,12,13,.1);
}

.button:active {
  background-color: rgba(12,12,13,.2);
}

.bg-white {
  background-color: #ffffff !important;
}

.flip {
  transform: scaleX(-1);
}

.button:nth-child(1) {
  margin-left: 0;
}

.photosets {
  margin-left: 0;
}

.photosets li {
  width: 100%;
}

@media screen and (min-width: 30em) {
  .card figure {
    height: 256px;
  }
  .w6-ns {
    width: 20rem;
  }
  .w7-ns {
    width: 24rem;
  }
  .photosets {
    margin-left: calc(50vw - 200px);
  }
  .photosets li {
    width: 75%;
  }
}

.h6 {
  height: 20rem;
}
.h7 {
  height: 24rem;
}



.photoset:nth-child(1) {
  margin-left: 0px !important;
}

#logo {
  background: url("https://www.youwenliang.com/Codepen/sometrips.svg") center no-repeat;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: .1;
}

.preloader-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0; 
  bottom: 0;
  background: #fff;
  z-index : 20; 
}

.percentage {
  z-index: 100;
  text-align:center;
  color: #fff;
  line-height: 30px;
  font-size : 15px;
}

.loader {
  height: 200px;
  max-width: 200px; 
  font-weight: 300;
  position: absolute; 
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0;
  margin : auto; 
}
.loader:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.trackbar {
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  line-height: 30px;
  overflow: hidden;
  position: relative;
  opacity: 0.99;
  -webkit-mask: url("https://www.youwenliang.com/Codepen/sometrips.svg") center no-repeat;
  mask: url("https://www.youwenliang.com/Codepen/sometrips.svg") center no-repeat;
}

.loadbar {
  width: 0%;
  height: 100%;
  background-color: #1D1922;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

* {
   user-select: none;
}


/*

    OVERFLOW

 */
.overflow-visible { overflow: visible; }
.overflow-hidden { overflow: hidden; }
.overflow-scroll { overflow: scroll; }
.overflow-auto { overflow: auto; }
.overflow-x-visible { overflow-x: visible; }
.overflow-x-hidden { overflow-x: hidden; }
.overflow-x-scroll { overflow-x: scroll; }
.overflow-x-auto { overflow-x: auto; }
.overflow-y-visible { overflow-y: visible; }
.overflow-y-hidden { overflow-y: hidden; }
.overflow-y-scroll { overflow-y: scroll; }
.overflow-y-auto { overflow-y: auto; }
@media screen and (min-width: 30em) {
 .overflow-visible-ns { overflow: visible; }
 .overflow-hidden-ns { overflow: hidden; }
 .overflow-scroll-ns { overflow: scroll; }
 .overflow-auto-ns { overflow: auto; }
 .overflow-x-visible-ns { overflow-x: visible; }
 .overflow-x-hidden-ns { overflow-x: hidden; }
 .overflow-x-scroll-ns { overflow-x: scroll; }
 .overflow-x-auto-ns { overflow-x: auto; }
 .overflow-y-visible-ns { overflow-y: visible; }
 .overflow-y-hidden-ns { overflow-y: hidden; }
 .overflow-y-scroll-ns { overflow-y: scroll; }
 .overflow-y-auto-ns { overflow-y: auto; }
}
@media screen and (min-width: 30em) and (max-width: 60em) {
 .overflow-visible-m { overflow: visible; }
 .overflow-hidden-m { overflow: hidden; }
 .overflow-scroll-m { overflow: scroll; }
 .overflow-auto-m { overflow: auto; }
 .overflow-x-visible-m { overflow-x: visible; }
 .overflow-x-hidden-m { overflow-x: hidden; }
 .overflow-x-scroll-m { overflow-x: scroll; }
 .overflow-x-auto-m { overflow-x: auto; }
 .overflow-y-visible-m { overflow-y: visible; }
 .overflow-y-hidden-m { overflow-y: hidden; }
 .overflow-y-scroll-m { overflow-y: scroll; }
 .overflow-y-auto-m { overflow-y: auto; }
}
@media screen and (min-width: 60em) {
 .overflow-visible-l { overflow: visible; }
 .overflow-hidden-l { overflow: hidden; }
 .overflow-scroll-l { overflow: scroll; }
 .overflow-auto-l { overflow: auto; }
 .overflow-x-visible-l { overflow-x: visible; }
 .overflow-x-hidden-l { overflow-x: hidden; }
 .overflow-x-scroll-l { overflow-x: scroll; }
 .overflow-x-auto-l { overflow-x: auto; }
 .overflow-y-visible-l { overflow-y: visible; }
 .overflow-y-hidden-l { overflow-y: hidden; }
 .overflow-y-scroll-l { overflow-y: scroll; }
 .overflow-y-auto-l { overflow-y: auto; }
}


@font-face {
  font-family: 'Circular';
  font-style: bold;
  font-weight: 700;
  src: url('/fonts/lineto-circular-pro-bold.ttf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Circular';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/lineto-circular-pro-book.ttf'); /* IE9 Compat Modes */
}

.styles_modal__gNwvD {
  max-height: 100%;
  max-width: 80vw;
  height: auto;
  opacity: 0;
  transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}

.styles_modal__gNwvD.show {
  opacity: 1;
}

.styles_modal__gNwvD img {
  max-height: 80vh;
}

.styles_closeButton__20ID4 {
  background-color: #fff;
  top: 1px;
  right: 1px;
  padding: 14px;
  border-radius: 0 0 0 28px;
}

