/*@import "tachyons";*/

html, body {
  height: 100%;
  margin: 0;
}
body {
  background-color: #fff;
}

#logo {
  background: url("/images/sometrips.svg") center no-repeat;
  background-size: 200px 200px;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: .1;
}

.fade {
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease-in-out;
}

.preloader-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0; 
  bottom: 0;
  background: #fff;
  z-index : 2; 
}

.percentage {
  z-index: 100;
  text-align:center;
  color: #fff;
  line-height: 30px;
  font-size : 15px;
}

.loader {
  height: 200px;
  max-width: 200px; 
  font-weight: 300;
  position: absolute; 
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0;
  margin : auto; 
}
.loader:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.trackbar {
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  line-height: 30px;
  overflow: hidden;
  position: relative;
  opacity: 0.99;
  mask: url("/images/sometrips.svg") center no-repeat;
  mask-size: 200px 200px;
}

.loadbar {
  width: 0%;
  height: 100%;
  background-color: #1D1922;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}


#container {
  perspective: 30px;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#inner {
  overflow: hidden;
  position: relative;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
}

/*https://farm1.staticflickr.com/901/41677043454_b12938fef0_h.jpg*/
/*https://farm1.staticflickr.com/945/41772510721_0064d3c834_h.jpg*/
/*https://farm1.staticflickr.com/961/41633332862_4a24c48aee_h.jpg*/
/*https://farm1.staticflickr.com/791/26510349297_2309b2ff5d_h.jpg*/
/*https://farm1.staticflickr.com/886/39238502600_4a4604a4b3_h.jpg*/
/*https://farm5.staticflickr.com/4640/27693238579_fc5aeb4a6d_h.jpg*/
/*https://farm5.staticflickr.com/4522/38304886226_9b0a8d9c80_h.jpg*/
/*https://farm5.staticflickr.com/4436/35550147284_efeb472fb3_h.jpg*/
/*https://farm5.staticflickr.com/4279/34845218894_762f45c148_h.jpg*/
/*https://farm3.staticflickr.com/2880/33663827226_b3dcc1e786_h.jpg*/
/*https://farm1.staticflickr.com/297/32203673246_2c77ab04da_h.jpg*/
/*https://farm6.staticflickr.com/5494/30717248212_fe168b7257_h.jpg*/
/*https://farm8.staticflickr.com/7660/27416084503_0019879e46_h.jpg*/
/*https://farm2.staticflickr.com/1665/26613563571_4731e2fe7d_h.jpg*/
/*https://farm2.staticflickr.com/1647/24407545169_bf63f72e1c_h.jpg*/
/*https://farm1.staticflickr.com/589/22651630737_f8af24e500_h.jpg*/
/*https://farm9.staticflickr.com/8769/17328639755_899b559824_h.jpg*/
/*https://farm9.staticflickr.com/8601/15967189839_a629533d85_h.jpg*/


.demo-img {
  background-image: url("https://farm1.staticflickr.com/901/41677043454_b12938fef0_h.jpg");
  background-size: 100vw;
  background-position: center center;
  background-repeat: no-repeat;
  width: 800px;
  height: 450px;
  opacity: .75;
  transition: all .4s ease-in-out;
}

.expand .demo-img {
  width: 100vw;
  height: 100vh;
}

.expand #circle {
  opacity: 0;
}

.color-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#container:hover .demo-overlay {
  opacity: 1;
}

#container:hover {
  cursor: pointer;
}

.circle-overlay {
  width: 400px;
  height: 400px;
  position: absolute;
  border-radius: 100%;
  z-index: 1;
  mix-blend-mode: multiply;
}

img, canvas {
  display: none;
}